.bar_div {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.bar_div li {
    float: left;
    border-right:1px solid #bbb;
  }
  
.bar_div li:last-child {
    border-right: none;
  }
  
.bar_div li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.bar_div li a:hover:not(.active) {
    background-color: #111;
  }
  
.active {
    background-color: #F68B1E;
  }

.product_wrapper {
	float:left;
	padding: 10px;
	text-align: center;
	}
.product_wrapper:hover {
	box-shadow: 0 0 0 2px #e5e5e5;
	cursor:pointer;
	}
.product_wrapper .image img{
    width: 314px;
    height: 200px;

    }
.product_wrapper .name {
	font-weight:bold;
	}
.product_wrapper .buy {
	text-transform: uppercase;
    background: #F68B1E;
    border: 1px solid #F68B1E;
    cursor: pointer;
    color: #fff;
    padding: 8px 20px;
    margin-top: 10px;
}
.product_wrapper .buy:hover {
	background: #f17e0a;
    border-color: #f17e0a;
}
.product_wrapper .qty{
    width: 45px;
    height: 30px;
}

.table td {
	border-bottom: #F0F0F0 1px solid;
	padding: 15px;
	}



.cart_div {
	float:right;
    margin-top:-44;
    margin-right:30;
	font-weight:bold;
    
	position:relative;
	}

.cart_div .cart_icon img{
    width: 40px;
    height: 40px;
}

.cart_div a {
	color:#fff;
	}	
.cart_div span {
	font-size: 12px;
    line-height: 14px;
    background: #F68B1E;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 25px;
    color: #fff;
    width: 14px;
    height: 13px;
    text-align: center;
	}
.cart{
    width:750px; 
    margin:50 auto;  
}
.cart .remove {
    background: none;
    border: none;
    color: #b41813;
    cursor: pointer;
    font-size: 13px;
    font-weight:bold;
    padding: 0px;
	}
.cart .remove:hover {
	text-decoration:underline;
	}

.back_div {
	position:relative;
}

.back_div .back{
    background: none;
    border: none;
    color: #0067ab;
    cursor: pointer;
	font-size: 15px;
    font-weight:bold;
    padding: 0px;
}
.back_div .back:hover {
	text-decoration:underline;
	}

.buy_div {
    float:right;
    margin-bottom:-50;
    margin-right:10;
	font-weight:bold;
	position:relative;
}

.buy_div .buynow{
    text-transform: uppercase;
    background: #F68B1E;
    border: 1px solid #F68B1E;
    cursor: pointer;
    color: #fff;
    padding: 8px 20px;
    margin-top: 10px;
}
.buy_div .buynow:hover {
    background: #f17e0a;
    border-color: #f17e0a;
}
.formadd_div {
    width:700px; 
    margin:50 auto;   
}

.formadd_div .name{
    width: 300px;
    height: 30px;
}
.formadd_div .code{
    width: 300px;
    height: 30px;
}
.formadd_div .price{
    width: 300px;
    height: 30px;
}
.formadd_div .image{
    width: 300px;
    height: 30px;
    
}
.formadd_div .add{
    text-transform: uppercase;
    background: #F68B1E;
    border: 1px solid #F68B1E;
    cursor: pointer;
    color: #fff;
    padding: 8px 20px;
    margin-top: 10px;
}
.formadd_div .add:hover {
    background: #f17e0a;
    border-color: #f17e0a;
}
